
    <a class="apple" href="/app-amd64-darwin"
    ><img
                class="brand-logos-icon"
                alt=""
                src="/assets/brand-logos.svg" /></a
    ><a class="linux" href="/app-amd64-linux"
    ><img class="vector-icon2" alt="" src="/assets/vector2.svg" /><img
                class="vector-icon3"
                alt=""
                src="/assets/vector3.svg" /><img
                class="vector-icon4"
                alt=""
                src="/assets/vector4.svg" /><img
                class="vector-icon5"
                alt=""
                src="/assets/vector5.svg" /><img
                class="vector-icon6"
                alt=""
                src="/assets/vector6.svg" /><img
                class="vector-icon7"
                alt=""
                src="/assets/vector7.svg" /><img
                class="vector-icon8"
                alt=""
                src="/assets/vector8.svg" /><img
                class="vector-icon9"
                alt=""
                src="/assets/vector9.svg" /></a
    ><a class="windows" href="/app-amd64.exe"
    ><img class="vector-icon10" alt="" src="/assets/vector10.svg" /></a
    ><label class="download-tools">Download Tools</label>
