<div class="backgroundleftresponse" style="overflow: hidden; overflow-y:  auto; padding:5px;">
    <pre  data-response-log style="
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    "></pre>
</div>
<div class="backgroundrightresponse" style="overflow: hidden; overflow-y:  auto; padding:5px;">
    <pre data-response-mq-log style="
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    "></pre>
</div>