<div class="backgroundleftresponse" style="overflow: hidden; overflow-y:  auto; padding:5px;">
    <pre  data-response-log></pre>
</div>
<div class="backgroundrightresponse" style="overflow: hidden; overflow-y:  auto; padding:5px;">
    <pre data-response-mq-log></pre>
</div>