<nav class="sectionsbackground"></nav>
<div class="sectionsbuttons">
    <button
            class="profilefeaturebutton"
            data-open-section='profilesection'
    >
        <div class="indicatoractive sectionLinks"></div>
        <div class="buttontext24">Profile Feature</div></button
    ><button
            class="profilefeaturebutton"
            data-open-section='oauthsection'
    >
        <div class="indicatorinactive sectionLinks"></div>
        <div class="buttontext25">
            OAuth Application Authorization
        </div></button
    ><button
            class="profilefeaturebutton"
            data-open-section='publickeysection')
    >
        <div class="indicatorinactive sectionLinks"></div>
        <label class="buttontext26">Public Key</label></button
    ><button
            class="profilefeaturebutton"
            data-open-section='devicefeaturesection'
    >
        <div class="indicatorinactive sectionLinks"></div>
        <label class="buttontext26">Device Feature</label></button
    ><button
            class="profilefeaturebutton"
            data-open-section='verifiedauthsection'
    >
        <div class="indicatorinactive sectionLinks"></div>
        <label class="buttontext26">Verified Authenticator</label></button
    ><button
            class="profilefeaturebutton"
            data-open-section='datatokenfeature'
    >
        <div class="indicatorinactive sectionLinks"></div>
        <label class="buttontext26">Data Token Feature</label></button
    ><button
            class="profilefeaturebutton"
            data-open-section='poolsection'
    >
        <div class="indicatorinactive sectionLinks"></div>
        <label class="buttontext26">Pool</label>
    </button>
</div>
<header class="indicatorinactive6"></header>
<div class="headerinner">
    <div class="tokenheadersection">
        <div class="inputdivbox39">
            <label class="inputlabel39"
            >OAuth application authorization</label
            >
            <div class="inputfieldwrapperbox60">
                <div class="inputbackground"></div>
                <input
                        class="inputfieldandtext56"
                        type="text"
                        name="basic"
                /><button class="copybutton5">
                    <div class="copylabel4" data-copy=".inputfieldandtext56">Copy</div>
                </button>
            </div>
        </div>
        <div class="inputfieldwrapperbox23">
            <label class="inputlabel39">Profile authorization</label>
            <div class="inputfieldwrapperbox61">
                <div class="inputbackground1"></div>
                <input
                        class="inputfieldandtext57"
                        type="text"
                        name="xauth"
                /><button class="copybutton6">
                    <div class="copylabel4" data-copy=".inputfieldandtext57">Copy</div>
                </button>
            </div>
        </div>
    </div>
    <img
            class="logo-icon"
            alt=""
            src="/assets/main-logo-gradient-bckg.svg"
    />
</div>
