<div class="exchangedatafortoken" data-action="exchangeDataForToken">
    <button class="requestbutton">
        <div class="buttontext">Exchange Data For Token</div>
    </button>
    <div class="frame-parent">
        <div class="form-wrapper">
            <form
                    class="form"
                    action="/data-token/retrieve-temporary-data-token/"
                    method="post"
                    data-auth-header="xauth"
            >
                <div class="inputdivbox2">
                    <div class="inputfieldwrapperbox2">
                        <input class="inputfieldandtext" type="text" />
                    </div>
                    <label class="inputlabel2">Data</label>
                </div>
                <div class="form-parent">
                    <div class="inputfieldwrapperbox2">
                        <input class="inputfieldandtext" type="text" />
                    </div>
                    <label class="inputlabel2">Temporary Token</label>
                </div>
            </form>
        </div>
        <div class="inputfieldwrapperbox4">
            <input
                    class="inputfieldandtext2"
                    type="text"
                    readonly
                    data-dpt-cab-id
            />
        </div>
    </div>
</div>
<div class="exchangedatafortokenoverhttp" data-action="storeData">
    <div class="requestbutton2">
        <div class="buttontext2">Exchange Data For Token Over HTTP</div>
    </div>
    <div class="frame-parent">
        <div class="form-wrapper">
            <form
                    class="form"
                    action="/data-token/exchange-data-for-token"
                    method="post"
                    data-auth-header="xauth"
            >
                <div class="inputdivbox2">
                    <div class="inputfieldwrapperbox2">
                        <input class="inputfieldandtext" type="text" />
                    </div>
                    <label class="inputlabel2">Data</label>
                </div>
                <div class="form-parent">
                    <div class="inputfieldwrapperbox2">
                        <input class="inputfieldandtext" type="text" />
                    </div>
                    <label class="inputlabel2">Temporary Token</label>
                </div>
            </form>
        </div>
        <div class="inputfieldwrapperbox4">
            <input
                    class="inputfieldandtext2"
                    type="text"
                    readonly
                    data-dpt-cab-id
            />
        </div>
    </div>
</div>
<div class="reservetokenspace" data-action="reserveTokenSpace">
    <button class="requestbutton">
        <div class="buttontext">Reserve Token Space</div>
    </button>
    <div class="frame-parent">
        <div class="form-wrapper">
            <form
                    class="form3"
                    action="/data-token/reserve-token-space"
                    method="post"
                    data-auth-header="xauth"
            >
                <div class="form-parent">
                    <div class="inputfieldwrapperbox2">
                        <input class="inputfieldandtext" type="text" />
                    </div>
                    <label class="inputlabel2">Context</label>
                </div>
            </form>
        </div>
        <div class="inputfieldwrapperbox4">
            <input
                    class="inputfieldandtext2"
                    type="text"
                    readonly
                    data-dpt-cab-id
            />
        </div>
    </div>
</div>
<div
        class="retrieveprofiledevices"
        data-action="retrieveProfileDevices"
>
    <form
            class="form4"
            action="/device/retrieve-profile-devices"
            method="post"
            data-auth-header="xauth"
    >
        <button class="requestbuttoninside">
            <div class="retrieve-profile-devices">
                Retrieve Profile Devices
            </div>
        </button>
    </form>
</div>
<div class="horizontalline1"></div>
<div class="horizontalline2"></div>
<div class="horizontalline3"></div>
<div class="horizontalline"></div>
<b class="sectionheadertitle1">Data Token Feature</b>