<div class="retrieveProfileScope" data-action="retrieveProfileScope">
    <form class="form4" action="/profile/retrieve-scope" method="get" data-auth-header="xauth">
    </form>
    <input type="hidden" readonly data-dpt-cab-id/>
    <button class="requestbuttoninside">
        <div class="retrieve-profile-devices" tabindex="225" data-call-to-action>
            Retrieve Profile Scope
        </div>
    </button>
    <div class="infoModalOpenButton listAction">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Retrieve Profile Scope</h2>
            <p>A profile has a scope that controls resource access.</p>
        </div>
    </div>
</div>
<div class="revokeAuthToken" data-action="revokeAuthToken">
    <form class="form-parent" action="/profile/revoke-authorization-token" method="post" data-auth-header="xauth">
        <div class="inputfieldwrapperbox49">
            <input class="inputfieldandtext44" type="text" readonly data-dpt-cab-id tabindex="122"/>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="123">
        <div class="buttontext">Revoke Authorization Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Revoke Authorization Token</h2>
            <p>User attempts to revoke the authorization token.</p>
            <p>Upon successful operation event fires AuthorizationTokenRevoked.</p>
            <p>No voting is occurred for this action.</p>
            <p>Revoke Authorization Token command revokes the current token. In a case of success, AuthorizationTokenRevoked is raised. In a case of an error appropriate exception is raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/revoke_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="reauthorizeauthtoken" data-action="reauthorizeAuthToken">
    <div class="inputfieldwrapperbox48">
        <input class="inputfieldandtext44" type="text" readonly data-dpt-cab-id tabindex="121"/>
    </div>
    <form class="form-parent" action="/profile/reauthorize-authorization-token" method="post" data-auth-header="xauth">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext23" name="ttl" type="text" placeholder="optional" tabindex="119"/>
            </div>
            <label class="inputlabel2">Time to live</label>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="120">
        <div class="buttontext">Reauthorize Auth Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Reauthorize Auth Token</h2>
            <p>User attempts to reauthorize the token, in order to extend a token's validity time.</p>
            <p>This issues an event that reauthorization is attempted. In case of error occur appropriate exception is raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/reauthorize_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="retriveauthtoken" data-action="retrieveAuthToken">
    <div class="inputfieldwrapperbox48">
        <input class="inputfieldandtext48" type="text" readonly data-dpt-cab-id/>
        <button class="copybutton4" tabindex="118">
            <div class="copylabel4" data-copy=".inputfieldandtext48">Copy</div>
        </button>
    </div>
    <form class="form-parent" action="/profile/retrieve-authorization-token" method="post" data-auth-header="xauth">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext23" name="request_auth_token_command_id" type="text" tabindex="116"/>
            </div>
            <label class="inputlabel2">Authorization Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="117">
        <div class="buttontext">Retrieve Authorization Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Retrieve Authorization Token</h2>
            <p>System responds with authorization token. This call can be issued only once. In case it fails for any reason, entire process should be repeated.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/retrieve_authorization_token.png">
            </div>
        </div>
    </div>
</div>
<div class="requestauthtoken" data-action="requestAuthToken">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext2" type="text" readonly data-dpt-cab-id tabindex="114"/>
        <button class="copybutton4" tabindex="115">
            <div class="copylabel4" data-copy=".inputfieldandtext2">Copy</div>
        </button>
    </div>
    <div class="form-parent">
        <form class="form22" action="/profile/request-authorization-token" method="post" data-auth-header="xauth">
            <div class="">
                <label class="inputlabel9">Scope</label>
                <div class="inputdivbox-inner">
                    <div class="inputfieldwrapper-wrapper">
                        <div class="inputfieldwrapperbox18">
                            <select class="inputfieldandtext47" name="scope[]" tabindex="112" multiple>
                                <optgroup label="By Feature">
                                    <option value="all" selected>all</option>
                                    <option value="data_token.all">data_token.all</option>
                                    <option value="device.all">device.all</option>
                                    <option value="oauth.all">oauth.all</option>
                                    <option value="profile.all">profile.all</option>
                                    <option value="public_key.all">public_key.all</option>
                                    <option value="storage.all">storage.all</option>
                                    <option value="verified_authenticator.all">verified_authenticator.all</option>
                                    <option value="voting.all">voting.all</option>
                                </optgroup>
                                <optgroup label="Data Token">
                                    <option value="data_token.exchange_data_for_token">data_token.exchange_data_for_token</option>
                                    <option value="data_token.list_data_tokens">data_token.list_data_tokens</option>
                                    <option value="data_token.request_data">data_token.request_data</option>
                                    <option value="data_token.reserve_token_space">data_token.reserve_token_space</option>
                                    <option value="data_token.retrieve_data_token">data_token.retrieve_data_token</option>
                                    <option value="data_token.retrieve_temporary_data_token">data_token.retrieve_temporary_data_token</option>
                                </optgroup>
                                <optgroup label="Device">
                                    <option value="device.download_device_configuration">device.download_device_configuration</option>
                                    <option value="device.request_unique_identifier">device.request_unique_identifier</option>
                                    <option value="device.retrieve_profile_devices">device.retrieve_profile_devices</option>
                                    <option value="device.retrieve_unique_identifier">device.retrieve_unique_identifier</option>
                                </optgroup>
                                <optgroup label="Profile">
                                    <option value="profile.reauthorize_authorisation_token">profile.reauthorize_authorisation_token</option>
                                    <option value="profile.register_oauth_application">profile.register_oauth_application</option>
                                    <option value="profile.request_authorization_code">profile.request_authorization_code</option>
                                    <option value="profile.retrieve_oauth_configuration">profile.retrieve_oauth_configuration</option>
                                    <option value="profile.retrieve_profile_id">profile.retrieve_profile_id</option>
                                    <option value="profile.retrieve_profile_oauth_application_list">profile.retrieve_profile_oauth_application_list</option>
                                </optgroup>
                                <optgroup label="PublicKey">
                                    <option value="public_key.register_public_key">public_key.register_public_key</option>
                                    <option value="public_key.retrieve_public_key">public_key.retrieve_public_key</option>
                                </optgroup>
                                <optgroup label="Storage">
                                    <option value="storage.list_storage_devices">storage.list_storage_devices</option>
                                    <option value="storage.register">storage.register</option>
                                </optgroup>
                                <optgroup label="VerifiedAuthenticator">
                                    <option value="verified_authenticator.list_verified_authenticators">verified_authenticator.list_verified_authenticators</option>
                                    <option value="verified_authenticator.register_authenticator">verified_authenticator.register_authenticator</option>
                                    <option value="verified_authenticator.retrieve_strategy">verified_authenticator.retrieve_strategy</option>
                                    <option value="verified_authenticator.set_maximum_voting_attempts">verified_authenticator.set_maximum_voting_attempts</option>
                                    <option value="verified_authenticator.set_quorum_size">verified_authenticator.set_quorum_size</option>
                                    <option value="verified_authenticator.set_quorum_strategy">verified_authenticator.set_quorum_strategy</option>
                                    <option value="verified_authenticator.set_voting_time_limit">verified_authenticator.set_voting_time_limit</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="infobutton1">
            <img class="infobutton-inner" alt="" src="/assets/ellipse-61.svg"/>
            <img class="group-icon" alt="" src="/assets/group-3345931.svg"/>
        </button>
    </div>
    <button class="requestbutton" data-call-to-action tabindex="113">
        <div class="buttontext">Request Authorization Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Request Authorization Token</h2>
            <p>User attempts to retrieve authorization token by providing temporary token and scope.</p>
            <p>Request Authorization Token command accepts temporary data token and scope that token should be issued for.</p>
            <p>Handler process the information and on success issues AuthorizationTokenApproved event. In a case of error, appropriate exception should be raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/request_authorization_token.png">
            </div>
        </div>
    </div>
</div>
<div class="retrivetemptoken" data-action="retrieveTempToken">
    <div class="inputfieldwrapperbox43 hide">
        <input class="inputfieldandtext24" type="text" readonly data-dpt-cab-id/>
    </div>
    <form class="form-parent" action="/profile/retrieve-temp-token" method="post">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext49" type="text" name="id" tabindex="110"/>
            </div>
            <label class="inputlabel2">Obtain Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="111">
        <div class="buttontext">Retrieve Temporary Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Retrieve Temporary Token</h2>
            <p>Temporary authentication token should have uuid, token and time to live.</p>
            <p>System responds with temporary authentication token which is later used to be exchanged for more permanent scoped authorization token.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/retrieve_temporary_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="attemptauth" data-action="attemptAuth">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext31" type="text" readonly data-dpt-cab-id tabindex="108"/>
        <button class="copybutton4" tabindex="109">
            <div class="copylabel4" data-copy=".inputfieldandtext31">Copy</div>
        </button>
    </div>
    <form class="form20" action="profile/atempt-authentication" method="post">
        <div class="inputdivbox30">
            <div class="inputfieldwrapperbox46">
                <input class="inputfieldandtext51" name="password" type="password" tabindex="106"/>
            </div>
            <label class="inputlabel2">Password</label>
        </div>
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext" name="username" type="text" tabindex="105"/>
            </div>
            <label class="inputlabel2">Username</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="107">
        <div class="buttontext">Attempt Authentication</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Attempt Authentication</h2>
            <p>User attempts to authenticate by providing username and password.</p>
            <p>In a case request is successful AuthenticationAttempted event is fired. In case of an error appropriate exception is raised.</p>
            <p>Purpose of this operation is to retrieve the temporary token which is later exchanged for a scoped token.</p>
            <p>Attempt Authentication command receives username and password.</p>
            <p>Handler checks against the username and password and if ok return response.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/attempt_authentication.png">
            </div>
        </div>
    </div>
</div>
<div class="register" data-action="register">
    <div class="inputfieldwrapperbox45">
        <input class="inputfieldandtext53" type="text" readonly data-dpt-cab-id tabindex="103"/>
        <button class="copybutton4" tabindex="104">
            <div class="copylabel4" data-copy=".inputfieldandtext53">Copy</div>
        </button>
    </div>
    <form class="form20" action="/profile/register-profile" method="post">
        <div class="inputdivbox9">
            <label class="inputlabel9">Password</label>
            <div class="inputfieldwrapperbox58">
                <input class="inputfieldandtext51" type="password" name="password" tabindex="101"/>
            </div>
        </div>
        <div class="inputfieldwrapper23">
            <label class="inputlabel9">Username</label>
            <div class="inputfieldwrapperbox59">
                <input class="inputfieldandtext" type="text" name="username" tabindex="100"/>
            </div>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="102">
        <div class="buttontext">Register User</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Register Profile</h2>
            <p>Register Profile receives username and password.</p>
            <p>Handler will proceed on trying to register profile with given information.</p>
            <p>On success it raises ProfileRegistrationAttempted event.</p>
            <p>In cases where it fails either to already registered username or some other errors system raises the appropriate error.</p>
            <p>Response of the action is a command id that can be used to track the request status.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/register_profile.png">
            </div>
        </div>
    </div>
</div>
<b class="sectionheadertitle7">Profile Feature</b>
<div class="infoModalOpenButton mainSection">
    <i class="bi bi-book"></i>
    <div data-description class="hide">
        <h2>Profile Feature</h2>
        <p>Profile represent an outside user of the DPT-CAB. It can be and end client, application or other (device).</p>
        <p>End client represents end user that wishes to secure the data. It is a browser client or mobile application, while application server would represent an application that wishes to keep the encrypted data.</p>
        <p>Application represents system that wishes to exchange its data for the tokenized version of it.</p>
        <p>Other represents all other systems that would just like to exchange the data for data tokens.</p>
        <p>Profile is the basic model for the DPT-CAB and all other features are relying on the profile.</p>
    </div>
</div>
<div class="horizontalline21a"></div>
<div class="horizontalline22"></div>
<div class="horizontalline23"></div>
<div class="horizontalline24"></div>
<div class="horizontalline25"></div>
<div class="horizontalline26a"></div>
<div class="horizontalline27a"></div>