<div
        class="retrieveprofiledevices1"
        data-action="retrieveProfileDevices"
>
    <form
            class="form4"
            action="/device/retrieve-profile-devices"
            method="post"
            data-auth-header="xauth"
    >
        <button class="requestbuttoninside">
            <div class="retrieve-profile-devices">
                Retrieve Profile Devices
            </div>
        </button>
    </form>
</div>
<div
        class="requestuniqueidentifier"
        data-action="requestUniqueIdentifier"
>
    <div class="inputfieldwrapperbox25">
        <input
                class="inputfieldandtext2"
                type="text"
                readonly
                data-dpt-cab-id
        />
    </div>
    <form
            class="form9"
            action="device/retrieve-unique-identifier"
            method="post"
            data-auth-header="xauth"
    >
        <div class="inputfieldwrapperbox23">
            <label class="inputlabel9">Unique Identifier Request ID</label>
            <div class="inputfieldwrapperbox24">
                <input class="inputfieldandtext23" type="text" />
            </div>
        </div>
    </form>
    <button class="requestbutton">
        <div class="buttontext">Request Unique Identifier</div>
    </button>
</div>
<div
        class="retrieveuniqueidentifier"
        data-action="retrieveUniqueIdentifier"
>
    <form
            class="form12"
            action="/device/request-unique-identifier"
            method="post"
            data-auth-header="xauth"
    >
        <div class="inputfieldwrapperbox22">
            <input class="horizontalline9" type="text" data-dpt-cab-id />
        </div>
    </form>
    <button class="requestbutton10">
        <div class="buttontext">Retrieve Unique Identifier</div>
    </button>
</div>
<div class="horizontalline10"></div>
<div class="horizontalline11"></div>
<div class="horizontalline"></div>
<b class="sectionheadertitle4">Device Feature</b>