<div class="revokeAuthToken" data-action="revokeAuthToken">
    <form class="form-parent" action="/profile/revoke-authorization-token" method="post" data-auth-header="xauth">
        <div class="inputfieldwrapperbox49">
            <input class="inputfieldandtext44" type="text" readonly data-dpt-cab-id tabindex="122"/>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="123">
        <div class="buttontext">Revoke Auth Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Revoke Auth Token</h2>
            <p>User attempts to revoke the authorization token.</p>
            <p>Upon successful operation event fires AuthorizationTokenRevoked.</p>
            <p>No voting is occurred for this action.</p>
            <p>Revoke Authorization Token command revokes the current token. In a case of success, AuthorizationTokenRevoked is raised. In a case of an error appropriate exception is raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/revoke_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="reauthorizeauthtoken" data-action="reauthorizeAuthToken">
    <div class="inputfieldwrapperbox48">
        <input class="inputfieldandtext44" type="text" readonly data-dpt-cab-id tabindex="121"/>
    </div>
    <form class="form-parent" action="/profile/reauthorize-authorization-token" method="post" data-auth-header="xauth">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext23" name="ttl" type="text" placeholder="optional" tabindex="119"/>
            </div>
            <label class="inputlabel2">Time to live</label>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="120">
        <div class="buttontext">Reauthorize Auth Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Reauthorize Auth Token</h2>
            <p>User attempts to reauthorize the token, in order to extend a token's validity time.</p>
            <p>This issues an event that reauthorization is attempted. In case of error occur appropriate exception is raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/reauthorize_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="retriveauthtoken" data-action="retrieveAuthToken">
    <div class="inputfieldwrapperbox48">
        <input class="inputfieldandtext48" type="text" readonly data-dpt-cab-id/>
        <button class="copybutton4" tabindex="118">
            <div class="copylabel4" data-copy=".inputfieldandtext48">Copy</div>
        </button>
    </div>
    <form class="form-parent" action="/profile/retrieve-authorization-token" method="post" data-auth-header="xauth">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext23" name="request_auth_token_command_id" type="text" tabindex="116"/>
            </div>
            <label class="inputlabel2">Authorization Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="117">
        <div class="buttontext">Retrieve Authorization Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Retrieve Authorization Token</h2>
            <p>System responds with authorization token. This call can be issued only once. In case it fails for any reason, entire process should be repeated.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/retrieve_authorization_token.png">
            </div>
        </div>
    </div>
</div>
<div class="requestauthtoken" data-action="requestAuthToken">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext2" type="text" readonly data-dpt-cab-id tabindex="114"/>
        <button class="copybutton4" tabindex="115">
            <div class="copylabel4" data-copy=".inputfieldandtext2">Copy</div>
        </button>
    </div>
    <div class="form-parent">
        <form class="form22" action="/profile/request-authorization-token" method="post" data-auth-header="xauth">
            <div class="inputfieldwrapperbox23">
                <label class="inputlabel9">Scope</label>
                <div class="inputdivbox-inner">
                    <div class="inputfieldwrapperbox-wrapper">
                        <div class="inputfieldwrapperbox18">
                            <input class="inputfieldandtext47" type="text" name="scope" value="all" tabindex="112"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="infobutton1">
            <img class="infobutton-inner" alt="" src="/assets/ellipse-61.svg"/>
            <img class="group-icon" alt="" src="/assets/group-3345931.svg"/>
        </button>
    </div>
    <button class="requestbutton" data-call-to-action tabindex="113">
        <div class="buttontext">Request Authorization Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Request Authorization Token</h2>
            <p>User attempts to retrieve authorization token by providing temporary token and scope.</p>
            <p>Request Authorization Token command accepts temporary data token and scope that token should be issued for.</p>
            <p>Handler process the information and on success issues AuthorizationTokenApproved event. In a case of error, appropriate exception should be raised.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/request_authorization_token.png">
            </div>
        </div>
    </div>
</div>
<div class="retrivetemptoken" data-action="retrieveTempToken">
    <div class="inputfieldwrapperbox43 hide">
        <input class="inputfieldandtext24" type="text" readonly data-dpt-cab-id/>
    </div>
    <form class="form-parent" action="/profile/retrieve-temp-token" method="post">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext49" type="text" name="id" tabindex="110"/>
            </div>
            <label class="inputlabel2">Obtain Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="111">
        <div class="buttontext">Retrieve Temporary Token</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Retrieve Temporary Token</h2>
            <p>Temporary authentication token should have uuid, token and time to live.</p>
            <p>System responds with temporary authentication token which is later used to be exchanged for more permanent scoped authorization token.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/retrieve_temporary_auth_token.png">
            </div>
        </div>
    </div>
</div>
<div class="attemptauth" data-action="attemptAuth">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext31" type="text" readonly data-dpt-cab-id tabindex="108"/>
        <button class="copybutton4" tabindex="109">
            <div class="copylabel4" data-copy=".inputfieldandtext31">Copy</div>
        </button>
    </div>
    <form class="form20" action="profile/atempt-authentication" method="post">
        <div class="inputdivbox30">
            <div class="inputfieldwrapperbox46">
                <input class="inputfieldandtext51" name="password" type="password" tabindex="106"/>
            </div>
            <label class="inputlabel2">Password</label>
        </div>
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext" name="username" type="text" tabindex="105"/>
            </div>
            <label class="inputlabel2">Username</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="107">
        <div class="buttontext">Attempt Authentication</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Attempt Authentication</h2>
            <p>User attempts to authenticate by providing username and password.</p>
            <p>In a case request is successful AuthenticationAttempted event is fired. In case of an error appropriate exception is raised.</p>
            <p>Purpose of this operation is to retrieve the temporary token which is later exchanged for a scoped token.</p>
            <p>Attempt Authentication command receives username and password.</p>
            <p>Handler checks against the username and password and if ok return response.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/attempt_authentication.png">
            </div>
        </div>
    </div>
</div>
<div class="register" data-action="register">
    <div class="inputfieldwrapperbox45">
        <input class="inputfieldandtext53" type="text" readonly data-dpt-cab-id tabindex="103"/>
        <button class="copybutton4" tabindex="104">
            <div class="copylabel4" data-copy=".inputfieldandtext53">Copy</div>
        </button>
    </div>
    <form class="form20" action="/profile/register-profile" method="post">
        <div class="inputdivbox9">
            <label class="inputlabel9">Password</label>
            <div class="inputfieldwrapperbox58">
                <input class="inputfieldandtext51" type="password" name="password" tabindex="101"/>
            </div>
        </div>
        <div class="inputfieldwrapper23">
            <label class="inputlabel9">Username</label>
            <div class="inputfieldwrapperbox59">
                <input class="inputfieldandtext" type="text" name="username" tabindex="100"/>
            </div>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="102">
        <div class="buttontext">Register User</div>
    </button>
    <div class="infoModalOpenButton">
        <i class="bi bi-book"></i>
        <div data-description class="hide">
            <h2>Register Profile</h2>
            <p>Register Profile receives username and password.</p>
            <p>Handler will proceed on trying to register profile with given information.</p>
            <p>On success it raises ProfileRegistrationAttempted event.</p>
            <p>In cases where it fails either to already registered username or some other errors system raises the appropriate error.</p>
            <p>Response of the action is a command id that can be used to track the request status.</p>
            <div style="text-align: center; width: 100%;">
                <img src="/media/profile/register_profile.png">
            </div>
        </div>
    </div>
</div>
<b class="sectionheadertitle7">Profile Feature</b>
<div class="infoModalOpenButton mainSection">
    <i class="bi bi-book"></i>
    <div data-description class="hide">
        <h2>Profile Feature</h2>
        <p>Profile represent an outside user of the DPT-CAB. It can be and end client, application or other (device).</p>
        <p>End client represents end user that wishes to secure the data. It is a browser client or mobile application, while application server would represent an application that wishes to keep the encrypted data.</p>
        <p>Application represents system that wishes to exchange its data for the tokenized version of it.</p>
        <p>Other represents all other systems that would just like to exchange the data for data tokens.</p>
        <p>Profile is the basic model for the DPT-CAB and all other features are relying on the profile.</p>
    </div>
</div>
<div class="horizontalline21"></div>
<div class="horizontalline22"></div>
<div class="horizontalline23"></div>
<div class="horizontalline24"></div>
<div class="horizontalline25"></div>
<div class="horizontalline26"></div>
<div class="horizontalline27"></div>