<div class="retriveauthtoken" data-action="retrieveAuthToken">
    <div class="inputfieldwrapperbox48">
        <input class="inputfieldandtext44" type="text" readonly data-dpt-cab-id tabindex="118"/>
    </div>
    <form class="form-parent" action="/profile/retrieve-authorization-token" method="post" data-auth-header="xauth">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext23" name="request_auth_token_command_id" type="text" tabindex="116"/>
            </div>
            <label class="inputlabel2">Authorization Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton19" data-call-to-action tabindex="117">
        <div class="buttontext">Retrieve Authorization Token</div>
    </button>
</div>

<div class="requestauthtoken" data-action="requestAuthToken">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext2" type="text" readonly data-dpt-cab-id tabindex="114"/>
        <button class="copybutton4" tabindex="115">
            <div class="copylabel4" data-copy=".inputfieldandtext2">Copy</div>
        </button>
    </div>
    <div class="form-parent">
        <form class="form22" action="/profile/request-authorization-token" method="post" data-auth-header="xauth">
            <div class="inputfieldwrapperbox23">
                <label class="inputlabel9">Scope</label>
                <div class="inputdivbox-inner">
                    <div class="inputfieldwrapperbox-wrapper">
                        <div class="inputfieldwrapperbox18">
                            <input class="inputfieldandtext47" type="text" name="scope" value="all" tabindex="112"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="infobutton1">
            <img class="infobutton-inner" alt="" src="/assets/ellipse-61.svg"/>
            <img class="group-icon" alt="" src="/assets/group-3345931.svg"/>
        </button>
    </div>
    <button class="requestbutton" data-call-to-action tabindex="113">
        <div class="buttontext">Request Authorization Token</div>
    </button>
</div>
<div class="retrivetemptoken" data-action="retrieveTempToken">
    <div class="inputfieldwrapperbox43 hide">
        <input class="inputfieldandtext24" type="text" readonly data-dpt-cab-id/>
    </div>
    <form class="form-parent" action="/profile/retrieve-temp-token" method="post">
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext49" type="text" name="id" tabindex="110"/>
            </div>
            <label class="inputlabel2">Obtain Token Request ID</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="111">
        <div class="buttontext">Retrieve Temporary Token</div>
    </button>
</div>
<div class="attemptauth" data-action="attemptAuth">
    <div class="inputfieldwrapperbox43">
        <input class="inputfieldandtext31" type="text" readonly data-dpt-cab-id tabindex="108"/>
        <button class="copybutton4" tabindex="109">
            <div class="copylabel4" data-copy=".inputfieldandtext31">Copy</div>
        </button>
    </div>
    <form class="form20" action="profile/atempt-authentication" method="post">
        <div class="inputdivbox30">
            <div class="inputfieldwrapperbox46">
                <input class="inputfieldandtext51" name="password" type="password" tabindex="106"/>
            </div>
            <label class="inputlabel2">Password</label>
        </div>
        <div class="form-parent">
            <div class="inputfieldwrapperbox2">
                <input class="inputfieldandtext" name="username" type="text" tabindex="105"/>
            </div>
            <label class="inputlabel2">Username</label>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="107">
        <div class="buttontext">Attempt Authentication</div>
    </button>
</div>
<div class="register" data-action="register">
    <div class="inputfieldwrapperbox45">
        <input class="inputfieldandtext53" type="text" readonly data-dpt-cab-id tabindex="103"/>
        <button class="copybutton4" tabindex="104">
            <div class="copylabel4" data-copy=".inputfieldandtext53">Copy</div>
        </button>
    </div>
    <form class="form20" action="/profile/register-profile" method="post">
        <div class="inputdivbox9">
            <label class="inputlabel9">Password</label>
            <div class="inputfieldwrapperbox58">
                <input class="inputfieldandtext51" type="password" name="password" tabindex="101"/>
            </div>
        </div>
        <div class="inputfieldwrapper23">
            <label class="inputlabel9">Username</label>
            <div class="inputfieldwrapperbox59">
                <input class="inputfieldandtext" type="text" name="username" tabindex="100"/>
            </div>
        </div>
    </form>
    <button class="requestbutton" data-call-to-action tabindex="102">
        <div class="buttontext">Register User</div>
    </button>
</div>
<b class="sectionheadertitle7">Profile Feature</b>
<div class="horizontalline21"></div>
<div class="horizontalline22"></div>
<div class="horizontalline23"></div>
<div class="horizontalline24"></div>
<div class="horizontalline25"></div>