<div class="createpool" data-action="submitPool">
    <div>
        <button class="requestbutton">
            <div class="buttontext" data-call-to-action tabindex="73">Create Pool</div>
        </button>
        <div class="frame-parent">
            <div class="form-wrapper">
                <form
                        class="form"
                        action="/voting/create"
                        method="post"
                        data-auth-header="basic"
                >
                    <div class="inputdivbox2">
                        <div class="inputfieldwrapperbox2">
                            <input class="inputfieldandtext" type="text" name="question" tabindex="72"/>
                        </div>
                        <label class="inputlabel2">Question</label>
                    </div>
                    <div class="form-parent">
                        <div class="inputfieldwrapperbox2">
                            <input class="inputfieldandtext" type="text" name="title" tabindex="71"/>
                        </div>
                        <label class="inputlabel2">Title</label>
                    </div>
                </form>
            </div>
            <div class="inputfieldwrapperbox4">
                <input
                        class="inputfieldandtext2"
                        type="text"
                        readonly
                        data-dpt-cab-id
                />
            </div>
        </div>
    </div>
</div>
<div class="horizontalline"></div>
<b class="sectionheadertitle">Pool</b>