body {}

header {
    border-bottom: 1px solid #c2b7b7;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
}

button{
    vertical-align: top;
    width: 150px;
}

form{
    padding-left: 50px;
    display: inline-block;
}

h3{
    margin: 10px;
    border-bottom: 1px solid #c2b7b7;
}

h2{
    margin-left: 10px;
}

input {
    padding: 2px;
}

header > div {
    align-self: flex-end;
    padding: 5px;
}

footer {
    height: 200px;
    box-sizing: border-box;
    border-top: 1px solid #c2b7b7;
}

footer > pre {
    padding: 0 5px;
    overflow: auto;
    height: 90%;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.feature-box {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin: 2px;
}