<div class="feature-box">
    <h3>Data Token Feature</h3>
    <div data-action="listDataTokens">
        <div>
            <button data-call-to-action>List Data Tokens</button>
            <form action="/data-token/list-data-tokens" method="get" data-auth-header="xauth">
            </form>
            <input type="hidden" readonly data-dpt-cab-id/>
        </div>
    </div>
    <div data-action="reserveTokenSpace">
        <div>
            <button data-call-to-action>Reserve Token Space</button>
            <form action="/data-token/reserve-token-space" method="post" data-auth-header="xauth">
                <label>Context</label>
                <input type="text" name="context" value=""/>
            </form>
            <input type="text" readonly data-dpt-cab-id/>
        </div>
    </div>
    <div data-action="retrieveTemporaryDataToken">
        <div>
            <button data-call-to-action>Retrieve Temporary Data Token</button>
            <form action="/data-token/retrieve-temporary-data-token/" method="get" data-auth-header="xauth">
                <label>Temporary Token</label>
                <input type="text" name="token" value="" data-append-param/>
            </form>
            <input type="text" readonly data-dpt-cab-id/>
        </div>
    </div>
    <div data-action="storeData">
        <div>
            <button data-call-to-action>Exchange data for token Over HTTP</button>
            <form action="/data-token/exchange-data-for-token" method="post" data-auth-header="xauth">
                    <label>Token</label>
                    <input type="text" name="temporaryTokenSpace" value=""/>
                    <label>Data</label>
                    <input type="text" name="data" value=""/>
                </form>
            <input type="text" readonly data-dpt-cab-id/>
        </div>
    </div>

    <div data-action="exchangeDataForToken">
        <div>
            <button data-mq-call-to-action>Exchange Data For Token</button>
            <form action="/data-token/retrieve-temporary-data-token/" method="get" data-auth-header="xauth">
                <label>Temporary Token</label>
                <input type="text" name="x-dpt-token-space" value=""/>
                <label>Data</label>
                <textarea name="data-token"></textarea>
            </form>
            <input type="text" readonly data-dpt-cab-id/>
        </div>
    </div>
</div>