<div >
    <h2>Data Protection Tool - Test Application</h2>
</div>
<div>
    <label>Authorization header</label>
    <input name="authorization" value="" placeholder="X-DPT-AUTHORIZATION header">
</div>