<div >
    <h2>Data Protection Tool - Test Application</h2>
</div>
<div>
    <strong>Authorization headers:</strong>
    <label>Profile authorization</label>
    <input name="xauth" value="" placeholder="X-DPT-AUTHORIZATION header">
    <label>OAuth application authorization</label>
    <input name="basic" value="" placeholder="Basic auth header">
</div>