<div class="feature-box">
    <h3>Verified Authenticator</h3>

    <div data-action="registerAuthenticator">
        <div>
            <button data-call-to-action>Register Authenticator</button>
            <form action="/verified-authenticator/register" method="post" data-auth-header="xauth">
                <label>Device Unique Identifier</label>
                <input type="text" name="device_unique_identifier" value=""/>
            </form>
            <input type="text" readonly data-dpt-cab-id/>
        </div>
    </div>
</div>